<div class="row justify-content-around">
    <div class="col-md-4 m-4">
        <h1>Todo List</h1>
        <div *ngIf="this.todos.length===0;else elseBlock" class="bg-secondary bg-opacity-10 rounded-3 p-3">Nothing To Do!</div>
      <ng-template #elseBlock>
        <div *ngFor="let todo of todos; index as i" class="bg-secondary bg-opacity-10 rounded-3 p-3 m-2">
            <app-todo-item [todo]="todo" [index]="i" (todoDelete)="deleteTodo($event)" (todoCheckBoxToggle)='todoCheckBoxToggle($event)'></app-todo-item>
        </div>
    </ng-template>
    </div>
    <div class="col-md-4 m-4 ">
        <h1>Add Todo</h1>
        <div class="bg-secondary bg-opacity-10 rounded-3 p-3 pt-4">
            <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
        </div>
    </div>
</div>