<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="todoTitle" class="form-label">Title <small class="text-danger">(Required)</small></label>
        <input type="text" class="form-control" id="todoTitle" name="todoTitle" [(ngModel)]="todoTitle" #todoTitleValidation="ngModel" required
            minlength="4" maxlength="15">
        <div *ngIf="todoTitleValidation.invalid && (todoTitleValidation.dirty || todoTitleValidation.touched)" class="text-danger pt-2 small">
            <div *ngIf="todoTitleValidation.errors?.['minlength']">
                Title must be at least {{ todoTitleValidation.errors["minlength"].requiredLength}} characters long.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="todoDesc" class="form-label">Description</label>
        <input type="text" class="form-control" id="todoDesc" name="todoDesc" [(ngModel)]="todoDesc" #todoDescValidation="ngModel" minlength="10"
            maxlength="100">
        <div *ngIf="todoDescValidation.invalid && (todoDescValidation.dirty || todoDescValidation.touched)" class="text-danger pt-2 small">
            <div *ngIf="todoDescValidation.errors?.['minlength']">
                Description must be at least {{ todoDescValidation.errors["minlength"].requiredLength}} characters long.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!todoTitleValidation.valid || !todoDescValidation.valid">Add</button>
</form>